.input {
  padding: 16px;
  margin-top: 8px;
  border-radius: 4px;
  /* background-color: rgba(207, 203, 203, 0.1); */
  border: 1px solid #1d3c57;
  width: 220px;
  height: 42px;
}
.input:hover,
input:focus {
  border-color: rgb(244, 249, 94);
  color: #1d3c57;
}
.btn {
  margin-left: 20px;
  margin-top: 8px;
  border-radius: 4px;
  padding: 16px;
  border: 1px solid rgb(244, 249, 94);
  height: 52px;
  width: 160px;
  

}
.btn:hover,
.btn:focus{
    background-color: rgb(183, 187, 70);

}
